.explorerSearch {
  width: 100%;
  animation: revealSearch ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.explorerHideSearch {
  animation: hideSearch ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.searchIcon {
  width: 32px;
  border-radius: 8px;
  padding: 4px;
}

@keyframes revealSearch {
  from {
    opacity: 0;
    width: 0px;
    max-width: 0px;
  }
  to {
    opacity: 1;
    width: 100%;
    max-width: 600px;
  }
}

@keyframes hideSearch {
  from {
    width: 315px;
    max-width: 600px;
    background-color: #202020;
  }
  to {
    width: 32px;
    max-width: 32px;
    background-color: transparent;
  }
}
