.radioLabel {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.radioInput {
  margin: 0;
  visibility: hidden;
}

.radioInput:checked + span {
  border: none;
}

.radioInput:checked + span:after {
  opacity: 1;
}

.customRadio {
  left: -8px;
  top: 4px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #666666;
  background-color: #010101;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* for inner filled circle */
.customRadio::after {
  content: '';
  width: 16px;
  height: 16px;
  background: #5f58ff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;

  background-image: url('/src/app/icons/m_chevron-down.svg');
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
}
