.historyItem:hover {
  outline: 1px solid #333;
}

.moneyDiff #token-money {
  font-size: 20px;
  color: #f4f4f4;
  font-weight: 400;
}

.moneyDiff #infiat {
  font-size: 14px;
  font-weight: 400;
}

.divider {
  bottom: 0px;
}

.inputBg {
  background-color: #171717 !important;
}

.searchWrapper {
  position: absolute;
  right: 1px;
  padding-inline: 16px 12px;
  top: -45px;
  z-index: 2;
}

.inputBgDarkLight {
  background-color: #171717 !important;
}
