.banner {
  background-repeat: no-repeat;
  background-position: right;
}

.circlesPopup {
  background-image: url('/src/app/misc/mavryk/circles.svg');
}

.circlesFullView {
  background-image: url('/src/app/misc/mavryk/circles-full-view.svg');
}
