<!DOCTYPE html>
<html
  lang=""
  class="no-scrollbar<% if (process.env.TARGET_BROWSER === "firefox") { %> overflow-x-hidden<% } %>"
  style="width: 375px; height: 600px;"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Mavryk Wallet</title>
  </head>
  <body class="bg-primary-bg relative no-scrollbar" style="width: 375px; min-height: calc(100vh + 1px); max-height: 600px;">
    <div id="root"></div>
  </body>
</html>
