.stepperWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.circle {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  z-index: 3;
  background-color: #202020;
}
.circle-active {
  background-color: #5f58ff !important;
}
.circle-passed {
  background-color: #5f58ff !important;
}
.circle-last {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: auto;
  z-index: 3;
  background-color: #202020;
}
.stepWrapper {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}
.line {
  height: 2px;
  width: 112px;
  left: 26px;
  background-color: #202020;
  position: absolute;
}
.line-active {
  background-color: #5f58ff;
}
