.apyTag {
  background: #4299e1;
  border-radius: 4px;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 12px;
  color: #ffffff;
}

.apyTag:hover {
  background-color: #68ade7;
}

.tokenInfoWidth {
  max-width: 19rem;
}

.tokenSymbol {
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 16px;
  color: #f4f4f4;
}

.listItem:not(:last-of-type)::before {
  content: '';
  height: 0;

  position: absolute;

  width: calc(100% - 32px);
  left: 16px;
  bottom: 0;

  border-bottom: 1px solid #333;
}

.searchWrapper {
  position: absolute;
  right: 1px;
  top: -45px;
  z-index: 2;
}

.searchWrapperPopup {
  top: -38px;
}

.listItem:hover {
  outline: 2px solid #333;
}

.listItem:hover::before {
  border-bottom: none;
}
