.tagBase {
  border-radius: 4px;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 12px;
  color: #ffffff;
}

.delegateTag {
  background: #4299e1;
}

.delegateTag:hover {
  background-color: #68ade7;
}

.kusdTag {
  background: #3ebd93;
}

.kusdTag:hover {
  background-color: #65caa9;
}

.tzbtcTag {
  background: #1373e4;
}

.tzbtcTag:hover {
  background-color: #428fe9;
}

.usdtTag {
  background: #009393;
}

.usdtTag:hover {
  background-color: #52af95;
}

.youvesTag {
  background: #143a3a;
}

.youvesTag:hover {
  background-color: #4f6b6b;
}

.scamTag {
  background: #c53030;
}

.scamTag:hover {
  background-color: #d15a59;
}

.tokenInfoWidth {
  max-width: 19rem;
}

.tokenSymbol {
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 16px;
  color: #1b262c;
}
