.ReactModal__Content {
  transform: translateY(100%);
  transition: transform 200ms ease-in-out;
}

.ReactModal__Overlay--after-open .ReactModal__Content {
  transform: translateY(0);
}

.ReactModal__Overlay--before-close .ReactModal__Content {
  transform: translateY(100%);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
