.listItemBorder,
.listItemWithoutDivider {
  position: relative;
}
.listItemBorder:hover,
.listItemWithoutDivider:hover {
  outline: 2px solid #333;
}

.listItemBorder:hover::after,
.listItemWithoutDivider::after {
  border-bottom: none;
}

.listItemBorder::after,
.listItemWithoutDivider ::after {
  content: '';

  width: calc(100% - 32px);
  height: 100%;
  position: absolute;
  left: 16px;
  bottom: 0;
}

.listItemBorder::after {
  border-bottom: 1px solid #333;
}

.listItemWithoutDivider::after {
  border-bottom: 1px solid transparent;
}
