.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}
.container::-webkit-scrollbar {
  display: none;
}

.headerComponent {
  position: absolute;
  z-index: 30;
  top: -16px;
  left: 50%;

  transform: translate(-50%, -25%);
}

.headerContent {
  display: grid;
  grid-template-columns: minmax(24px, 50px) 1fr minmax(24px, 50px);
  align-items: center;
}

.middle {
  grid-column: 2 / 3;
}
