.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}
.container::-webkit-scrollbar {
  display: none;
}

.headerComponent {
  position: absolute;
  top: -16px;
  left: 50%;

  transform: translate(-50%, -25%);
}
