/**
 * Aeonik UI font
 */

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-ThinItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/Aeonik/Aeonik-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-variant-ligatures: none;
}

/**
 * Popper JS
 */

[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}

/**
 * Tippy JS
 */

@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/shift-away-subtle.css';

.tippy-content {
  white-space: pre-line;
}

.tippy-box[data-theme~='maven'] {
  background-color: #373479;
  color: #f4f4f4;
  font-size: 12px;
}

.scrollbar {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 7px;
}

::-webkit-scrollbar-corner {
  background: transparent;
  color: transparent;
}

::-webkit-resizer {
  background: transparent;
}

/* Right placement tooltip arrow (arrow will be on left side of tooltip) */
.tippy-box[data-theme~='maven'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #373479;
}

/* Left placement tooltip arrow (arrow will be on right side of tooltip) */
.tippy-box[data-theme~='maven'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #373479;
}

/* Top placement tooltip arrow (arrow will be on bottom side of tooltip) */
.tippy-box[data-theme~='maven'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #373479;
}

/* Bottom placement tooltip arrow (arrow will be on top side of tooltip) */
.tippy-box[data-theme~='maven'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #373479;
}

.overscroll-y-none {
  overflow: hidden;
  min-height: unset;
  height: 600px;
}

/**
 * TailwindCSS
 */

@tailwind base;

/**
 * Appearance for iOS and Safari
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none;
}

@tailwind components;

@tailwind utilities;

/**
 * Text shadow utils.
 */

.text-shadow-black {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.text-shadow-black-orange {
  text-shadow: 0 1px 0 rgba(39, 19, 3, 0.06);
}

/**
 * Misc
 */

.filter-brightness-75 {
  filter: brightness(0.75);
}

.font-tnum {
  font-feature-settings: 'tnum';
}

/* Fix CSS transition flickering in Firefox */
.grayscale-firefox-fix {
  filter: grayscale(1%);
}

/* Fix letter truncated */
.letter-truncated-fix {
  line-height: normal;
  padding-bottom: 0;
  padding-top: 0;
}

@keyframes fade-in {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out infinite;
}

/* hide scrollbar */

@media (max-width: 500px) {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* input styles */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* JSON lin styles */
.string-value,
.object-key,
.array-key,
.icon-container {
  font-family: 'Aeonik';
  letter-spacing: -0.32px;
  text-decoration: none;
  opacity: 1 !important;
}

.object-key > span {
  opacity: 1 !important;
}

span:has(> span.object-key),
span:has(> span.array-key) {
  opacity: 1 !important;
}

.node-ellipsis {
  color: #5f58ff !important;
}

.fullPageBg {
  background: linear-gradient(180deg, rgba(95, 88, 255, 0.25) 0%, rgba(0, 0, 0, 0) 263.1%), #010101;
}
